/Assets
/myapp/Data/sharedassets1.assets.resS
/Library/metadata/be/beb1457d375110e468b8d8e1f29fccea
/myapp/Libraries/libil2cpp
/Library/PlayerDataCache/Data/sharedassets0.assets.resS
/Library/ShaderCache.db
/myapp/Libraries/libiPhone-lib.a
/myapp_game/Data/sharedassets0.assets.resS
/myapp_game/Libraries/libiPhone-lib.a
/myapp/Libraries/libil2cpp.a
/myapp_game/Libraries/libil2cpp.a
